@import "tailwindcss";
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default"; /* optional but fine */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #0a0a0a; /* dark black */
  --foreground: #ffffff; /* white text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #2b064d;
  }
}

/* Make all Flowbite cards dark */
.bg-white {
  background-color: #0a0a0a !important;
  color: #ffffff;
  border-color: #2b064d; /* optional border color */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fit {
  min-height: calc(100vh - 88px);
}
